<div class="col-sm-5 login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Please enter your new password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (submit)="updatePassword(updatePasswordForm)" #updatePasswordForm="ngForm" appConfirmPassword>

        <mat-form-field class="form-control">
          <input matInput type="password" placeholder="Password" name="password" #passwordInput="ngModel" [(ngModel)]="formModel.password" required>
          <mat-error *ngIf="passwordInput.invalid">
            Password is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-control">
          <input matInput type='password' name="confirmPassword" #confirmPasswordInput="ngModel" [(ngModel)]="formModel.confirmPassword"
                 placeholder="Confirm password" required>
          <mat-error *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)">
            Confirm password is <strong>required</strong>.
          </mat-error>
        </mat-form-field>

        <div class="form-control-error">
          <mat-error class="mat-small" *ngIf="updatePasswordForm.errors?.confirmPassword && (updatePasswordForm.touched || updatePasswordForm.dirty)">
            Passwords must <strong>match</strong>.
          </mat-error>
        </div>

        <button type="submit" mat-raised-button color="primary" class="col" [disabled]="!updatePasswordForm.form.valid">
          Reset Password
        </button>

      </form>
    </mat-card-content>

  </mat-card>
</div>
